@model IEnumerable<Actor>

@{
	ViewData["Title"] = "List of actors";
}

<div class="row">
	<div class="col-md-8 offset-md-2">

		<table>
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
					<th>@Html.DisplayNameFor(model => model.FullName)</th>
					<th>@Html.DisplayNameFor(model => model.Bio)</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				}
			</tbody>

		</table>

	</div>
</div>